---
title: Going the wrong path
layout: tufte
prev_page: Time for Pause
prev_url: /en/views/time-for-pause.html
next_page: Big Pharma and the WHO
next_url: /en/views/bigpharma-and-who.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'> Why I openly question the "New Normal" or "New
  life style" </p>
<section>
  <h2> The growing reach of Big Pharma </h2>
  <p> Today,
    <%= link_to 'Big pharma', 'https://www.statista.com/statistics/263102/pharmaceutical-market-worldwide-revenue-since-2001/' %>
    is a trillion dollar industry, surpassing the earnings of
    <%= link_to 'most nations in the UN system', 'https://www.visualcapitalist.com/the-86-trillion-world-economy-in-one-chart/' %>.
    Its grip stretches far beyond the
    <%= link_to "academic community and medical practitioners", 'https://www.crossfit.com/health/in-science-we-trust-or-do-we' %>
    to
    <%= link_to "exert undue influence", 'https://www.latimes.com/nation/la-122001fda-story.html' %>
    on
    <%= link_to "national pharmaceutical regulators.", 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1119103/' %>
    <label for="mn-fda-read" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-fda-read" class="margin-toggle" />
    <span class="marginnote"> <b> Further reading </b><br>
      <%= link_to "THE NEW FDA: How a New Policy Led to Seven Deadly Drugs,  <cite> Los Angeles Times </cite>, Dec. 20, 2000", 'https://www.latimes.com/nation/la-122001fda-story.html' %>
    </span> </p>
</section>
<section>
  <h2> The approval of Relenza and Tamiflu </h2>
  <p> In early 1999, FDA had rejected Glaxo Wellcome's Relenza
    (zanamivir) as an antiviral for influenza because its advisory
    committee concluded that Relenza had not been proved safe and
    effective. However, pressed
    <%= link_to "hard by Glaxo", 'https://www.latimes.com/nation/la-122001relenza-story.html' %>,
    <%= link_to "the FDA management approved the drug in July 1999.", 'https://www.pbs.org/wgbh/pages/frontline/shows/prescription/interviews/elashoff.html' %>
  </p>
  <p> On Jan. 12, 2000,
    <%= link_to 'FDA issued an unusual <q> public health advisory </q> to doctors', 'https://www.citizen.org/article/letter-expressing-concern-with-recommendations-on-zanamivir-relenza/' %>,
    warning of the limited role of Relenza and Tamiflu on influenza --
    by that time seven Relenza patients had died of <q>deterioration
      of respiratory function</q>. </p>
  <p> It is ironic that even Glaxo Wellcome (now GSK) harbours doubts
    about the safety of Relenza. <label for="mn-relenza-read"
      class="margin-toggle">&#8853;</label> <input type="checkbox"
      id="mn-relenza-read" class="margin-toggle" /> <span
      class="marginnote"> Further reading:
      <%=link_to "Fed decision backs GSK lawsuit, says Biota, Melissa Trudinger, Lab+Life Scientist magazine, 25 May 2004", 'https://www.labonline.com.au/content/life-scientist/news/fed-decision-backs-gsk-lawsuit-says-biota-1025504649' %>
    </span>
  <blockquote> <em>
      <p> GSK alleges that Tamiflu, which Japanese regulators this
        year warned against prescribing to teenagers after a spate of
        fatalities, is safer than Relenza. </p>
      <p> "Unlike Relenza, Tamiflu is not, and was not … the subject
        of mandatory safety warnings relating to bronchospasm … asthma
        and other underlying airways diseases or cardiac conditions,
        or the risk of death," the document says. Biota would not
        comment on GSK's defence. </p>
    </em>
    <footer>
      <%= link_to "It's germ warfare in $500m lawsuit, <em> The Age</em>, July 17, 2007", 'https://www.theage.com.au/business/its-germ-warfare-in-500m-lawsuit-20070717-ge5d6x.html' %>
    </footer>
  </blockquote>
  </p>
</section>
<section>
  <h2> Dr. Elashoff barred from reviewing Tamiflu </h2>
  <p> Dr. Michael Elashoff, a PhD from Harvard, was the
    biostatistician who discovered the problems with Relenza's
    clinical trial data. He was scheduled to review the data for
    Tamiflu, but that never happened. </p>
  <blockquote> <em> <b>
        <p> What happened to you after the advisory committee meeting?
        </p>
      </b>
      <p> The next day after the advisory committee, several people in
        FDA management told me that they blamed me for the drug
        getting turned down in the advisory committee; that I wouldn't
        be allowed to present at the advisory committee meetings in
        the future for any other drugs. </p>
      <p> At the time, I was also scheduled to be the reviewer for
        another flu medication, Tamiflu. That review was taken away
        from me. I guess they were worried that I might apply the same
        level of review to that application as I had for Relenza. So
        they gave it to someone else. </p>
    </em>
    <footer>
      <%= link_to "<em>Interview with Michael Elashoff, Ph.D</em>, November 13, 2003", 'https://www.pbs.org/wgbh/pages/frontline/shows/prescription/interviews/elashoff.html' %>
      This interview is a part of the PBS series
      <%= link_to "Dangerous Prescriptions", "https://www.pbs.org/wgbh/pages/frontline/shows/prescription/" %>
    </footer>
  </blockquote>
  <p> <em> Little did Elashoff realize at the time of his review that
      the FDA's priorities had already changed from <q>Should we
        approve this drug?</q> to
      <%= link_to "<q>Hey, how can we get this drug approved?</q>", 'https://www.latimes.com/nation/la-122001fda-story.html' %>
    </em> </p>
</section>
