---
title: Going the wrong path
layout: tufte
prev_page: "A tale of two cities: Dar es Salaam and New York"
prev_url: /en/views/tale-of-two-cities.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>Why I openly question the "New Normal" or "New
  life style"</p>
<section>
  <h2> Concluding Thoughts</h2>
  <p><span class="newthought">Many of us are lucky</span> to have
    experienced democracy, freedom of thoughtand expression, and
    personal liberties. However, these valuabletreasures were gifted
    to us by the wise efforts of people whocame before us. Many of
    them fought long battles, and some gave theirlives to give us
    these freedoms. We, in turn, have an obligation topreserve these
    valuable treasures, and to pass it on tofuture generations.</p>
  <p>It is naive to think that greed and lust for power do notexist in
    this world. Our democratic practices and libertiescan only be
    maintained by our vigilant participation insocietal matters.</p>
  <p>To be vigilant is to question, is to be skeptic&mdash; at least
    inmatters that influence a large number of people, and has the
    potentialto influence future generations.</p>
  <p>Given the globalized nature of our world, our governmentscannot
    do much unless the people actively support our governmentsto
    sustain democracy and the well-being of peoples. Without
    ourthoughts and voices, no government can stand againstexternal
    and internal pressures that constantly bombardthem from all sides.
  </p>
  <p> It is my hope that we critically examine what is going onin our
    world in the name of a Pandemic. Many people have no choice butto
    abide by existing measures. This includes smallchildren, who are
    asked by their parents as well as their teachers towear masks even
    in the hottest of weather, even in the freshestairs of the
    outdoors.</p>
  <p>For the children, for our senior citizens, at the least wecan do
    is to start asking questions. At the least, those ofus who can,
    have a moral responsibility toask questions.</p>
  <figure class="iframe-wrapper"><iframe width="560" height="315"
      src="https://www.youtube.com/embed/Xb_JjiaWDAU"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe></figure>
  <p>For those of us who are unable to question in public, even asking
    questions inside our heads in private would do!</p>
</section>
