---
title: Going the wrong path
layout: tufte
prev_page: Inconsistencies in the COVID story
prev_url: /en/views/inconsistencies-in-covid-story.html
next_page: Death Profiles
next_url: /en/views/death-profile.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>Why I openly question the "New Normal" or "New
  life style"</p>
<section>
  <h2> Novel Viruses, Dangerous Mutations</h2>
  <p><span class="newthought">Viruses, novel or mutated, </span> are
    the main characters inthe scare-mongering play that foretells a
    pandemic. </p>
  <p>So was it during the <cite>Asian Flu</cite> in 1957,when Shope
    <label for="sn-snope-declared"
      class="margin-toggle sidenote-number"> </label><input
      type="checkbox" id="sn-snope-declared"
      class="margin-toggle" /><span class="sidenote"> pg. 166 of R. E.
      Snope, <cite>Influenza: History, Epidemiology, and
        Speculation</cite>, The RE Dyer lecture." Public health
      reports 73.2 (1958): 165.</span>declared that <q> . . . the
      world is beingexposed to a virus with which it has little or no
      previousexperience</q>. </p>
  <p>So was it during the
    <%=   link_to "<cite>Swine Flu Affair</cite>",'https://www.bmj.com/content/331/7527/1276.1.full'%>of
    1976, <label for="sn-swine-1976"
      class="margin-toggle sidenote-number"> </label><input
      type="checkbox" id="sn-swine-1976" class="margin-toggle" /><span
      class="sidenote"> R. E. Neustadt, H. V. Fineberg,
      <%= link_to "<cite>The Swine Flu Affair: Decision-Making on a Slippery Disease</cite>,",'https://pubmed.ncbi.nlm.nih.gov/25032342/'%>
      National Academies Press, 1978 </span>and
    the<%=  link_to "Bird Flu scare of 2005.",  'https://web.archive.org/web/20130829180648/https://www.theguardian.com/world/2005/sep/30/birdflu.jamessturcke'%>It
    was
    <%=  link_to "repeated again in 2009,",  'https://www.who.int/mediacentre/news/statements/2009/h1n1_pandemic_phase6_20090611/en/'%>
    but we hardlynoticed the pattern, and it keeps hitting us over and
    over again.</p>
  <p><label for="mn-flu-scares" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-flu-scares" class="margin-toggle" />
    <span class="marginnote"> <b> Further reading </b><br>
      <%= link_to 'High Court settlement for teenager over swine flu vaccine,<cite>RTE</cite>,4 Nov 2020','https://www.rte.ie/news/courts/2020/1104/1175953-vaccine-case/'%><br>
      <%= link_to 'Bird flu <q> could kill 150 million people</q>, <em> BBC News</em>, 30 September, 2005', 'http://news.bbc.co.uk/2/hi/asia-pacific/4292426.stm'%><br>
      <%=    link_to 'Swine Flu Scare, <em>The New York Times</em>, July 3, 1976',    'https://www.nytimes.com/1976/07/03/archives/swine-flu-scare.html'   %><br></span>
  </p>
  <p>But, there exists more than a
    <%=link_to "quadrillion quadrillion individualviruses (10<sup>31</sup>)  on Earth,",'https://www.nature.com/articles/nrmicro2644'%>
    and the number of microorganismsin a teaspoon of soil is the same
    as the number of humans inhabitingthe African continent! </p>
  <p>So, who decidesthat something is novel about these <cite>novel or
      mutated viruses?</cite></p>
  <p>Do we deem them novel, because we know everything aboutexisting
    viruses and their strains? This possibility seemsimprobable given
    the large number of viruses. </p>
  <p>The true answeris that 'they are deemed novel', because the
    people studyingthose did not already know about them. They were
    novel tothem, but perhaps not to the physiology ofthe billions of
    humans inhabitingplanet Earth.</p>
  <p><cite>As if the discovery ofthe <em>New World</em> negated its
      very existence
      before<%=   link_to "Amerigo Vespucci or Christopher Columbus",'https://religionunplugged.com/news/2020/6/25/fourth-of-july-toppling-statues-highlights-the-forgotten-legacy-of-amerigo-vespucci'%>
      first set foot on it!</cite></p>
</section>
