---
title: Going the wrong path
layout: tufte
prev_page: Science and Scientists
prev_url: /en/views/science-and-scientists.html
next_page: From SMON to Diovan<sup>&reg;</sup>
next_url: /en/views/smon-to-diovan.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>Why I openly question the "New Normal" or "New
  life style"</p>
<section>
  <h2> SMON, Big Pharma, and Scientists </h2>
  <p><span class="newthought"> I chose to highlight SMON</span> for
    various reasons,
    although<%= link_to "there have been", 'https://www.smithsonianmag.com/science-nature/woman-who-stood-between-america-and-epidemic-birth-defects-180963165/' %>,
    and
    <%= link_to "we continue to have,", 'https://childrenshealthdefense.org/news/sackler-family-purdue-pharma-opioid-crisis/' %>
    cases of similar ethicalmisconducts by pharmaceutical companies.
  </p>
  <p>I donot intend to say that COVID-19 is a case of mistaken
    diagnosis.It may well be! Without detailed clinical investigation
    and post-mortemstudies we may not know.</p>
  <p>No, I chose to talk about SMON because it highlights two
    importantplayers in the current crisis &mdash; large
    pharmaceutical companies (Big Pharma,hereafter)and the scientific
    community.</p>
</section>
<section>
  <h3> Big Pharma and SMON </h3>
  <p> <label for="mn-smon-1935" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-smon-1935" class="margin-toggle" />
    <span class="marginnote">
      <%= link_to 'Katahira, Kiyohiko. "SMON Reported in 1935 in Argentina." JAMA 239.26 (1978): 2757-2757', "/refs/views/katahira_1978.pdf" %>
    </span>SMON happened in the first place, because Ciba-Geigy the
    giant pharmaceuticalcompany misled the Japanese drug regulators
    about the safety of the drug. </p>
  <p>Ciba-Geigy promoted the drug as beingsafe and effective, even for
    children, and as having no permanentadverse side effects. They hid
    the knowledge that,
    <%= link_to "as early as 1935, the neurological damages from clioquinol",'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1547532/pdf/bmjcred00546-0091b.pdf' %>
    were reported from Argentina and the U.K, in 1944 by theinventors
    of clioquinol themselves, and in 1965 by doctors fromSweden.</p>
  <p>As a result of Ciba-Geigy's false marketing campaign, Japan
    allowedthe drug to be used for all types of abdominal trouble,
    withno limitations as to dosage and length of treatment. It is
    worth noting that, even afterCiba-Geigy admitted its part in the
    SMON tragedy, it took another4 years for the company to take the
    drug off the market worldwide.</p>
</section>
<section>
  <h3> Scientists and SMON </h3>
  <p>There was ample reason to suspect clioquinol as afactor behind
    SMON as early as 1967, when the'study group of the National
    Hospitals on SMON'produced a report on medications prescribed
    toSMON patients.Yet, too many doctors and researchers refusedto
    recognise the possibility of an iatrogenicdisease (one caused by
    medical treatment).</p>
  <p>What made the scientistswho were investigatingSMON focus
    exclusively on viruses for 15 years?</p>
  <p>Virology waswell funded in those days as a consequence of the
    waron polio. The involvement of a large number of scientists
    anduniversity departments, and the volume of publisheddata from
    virology researchfar exceeded other research directions.
    Naturally, the scientific establishment gravitatedtowards a viral
    cause for SMON.</p>
  <p>The SMON epidemic finally ended because Prof. Reisaku Konoand
    other Japanese scientists possessed the wisdomto direct some
    resources into nonvirological researchand listen when those other
    investigators found answers.</p>
  <p>Nevertheless, the war on SMON remains as a classic example of
    misdirected science!</p>
</section>
<section>
  <h3> Clioquinol is still being used with disastrous results </h3>
  <p>In 2015, researchers from the
    <%= link_to "Netherlands Pharmacovigilance Center Lareb",'https://www.lareb.nl/en/pages/about-lareb' %>
    pointed out a rising trend of adverse drug reactions associated
    withclioquinol, in a
    <%= link_to "letter to the Medicines Evaluation  Board of the Netherlands,", 'https://www.lareb.nl/media/4u5jo1ju/kwb_2015_1_clioqu.pdf' %>.
  </p>
  <p>They pointed out that there is an increasein use of systemic
    administration of <em> clioquinol </em> inthe Netherlands since
    2010, although the adviceddosage regimen is a maximum of 750 mg
    per dayfor no more than 10 days.</p>
  <p> <em> The adverse reactions included SMON in a 4-year old child!
    </em></p>
</section>
