---
title: Going the wrong path
layout: tufte
next_page: Science and Scientists
next_url: /en/views/science-and-scientists.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>Why I openly question the "New Normal" or "New
  life style"</p>
<section>
  <p><span class="newthought"> I am thankful for the
      opportunity</span> to present my views on the
    restrictionsassociated with the "New Normal" or "New life style"
    (hereafter, "New Normal")that has been in place since early 2020.
    Before I explain my views, pleaseallow me to make some statements
    so that my actions are not misunderstood.</p>
  <p>I am not opposing the 'New Normal' for personal reasons; it is
    not about myfreedom. Japan has almost no restrictions compared to
    many countries,especially the developed ones. It is the easiest
    thing to wear a mask orto keep distance from others, if these are
    indeed the right things to do.</p>
  <p>I am opposing it after a careful study of the available
    information and datarelated to COVID-19, a new pandemic disease as
    announced by the World HealthOrganization (WHO) in early 2020.
  </p>
  <p>There are two severe issues with maintaining the 'New Normal'.
  </p>
  <ol>
    <li> Firstly, an objective analysis of available data and
      information shows thatthere is a deliberate attempt to
      exaggerate the dangers of COVID-19. This isclearly unethical,
      given the dire implications of the 'New Normal' itself. <ul>
        <li>
          <p> <label for="mn-jp-suicide"
              class="margin-toggle">&#8853;</label> <input
              type="checkbox" id="mn-jp-suicide"
              class="margin-toggle" /> <span class="marginnote">
              <%= link_to '<b>News article from Asahi Shimbun (January 23, 2021 at 18:04 JST) </b>: <em>Isolation due to COVID-19 a key factor in suicide surge in 2020 </em>', "http://www.asahi.com/ajw/articles/14130555" %>
            </span> Here in Japan, the "New Normal" has brought much
            hardship to the common personand devastated our economies.
            This has led to a drastic rise in suicides in2020;
            Japanese Health Ministry officials have noted that there
            is a 58.2%increase in suicides among young women in their
            20s and 30s due to economic andlifestyle problems. Equally
            worrying is the record number of suicides amongelementary,
            junior high school, and senior high school students. In
            addition,millions of students all over Japan had their
            education frequently interruptedby the "New Normal". </p>
        </li>
        <p>
          <li> It is abundantly clear, and
            <%= link_to "many scientists all over the world agree, that we do not have a situation that warrants a 'New Normal'",'https://gbdeclaration.org' %>.
            Rather, it is clear that the 'New Normal' ismaintained
            through
            <%= link_to "misused diagnostic testing procedures", 'https://cormandrostenreview.com/report' %>,
            a deliberatedisinformation campaign, censorship and
            <%= link_to 'psychologicalmanipulation', 'https://clinicaltrials.gov/ct2/show/study/NCT04460703' %>.
          </li>
        </p>
      </ul>
    </li>
    <li> Secondly, the 'New Normal' maintains a state of fear and
      restrictions that willdrive the common person to participate in
      one of the most riskiest medicalexperiments in recent
      history&mdash;the campaign of mass vaccinations which usemedical
      interventions that have not been properly tested for safety.
      <ul>
        <li> Themedical technologies used in the mass vaccination
          campaigns are novel, and areexciting to a lot of medical
          researchers. These technologies hold muchpromise for
          tackling severe disease conditions for which currently
          notreatments exist, for example cystic fibrosis. <br> <br>
          However, such new technologieshave never been
          <b>properly</b> evaluated for its safety in human beings,and
          not certainly for its ability to prevent thespread of
          infectious diseases. Safety evaluation of a new medical
          technologyis of paramount importance because the nature,
          quantity, and duration ofadverse events are impossible to
          predict without appropriately designedclinical trials. </li>
        <li> Currently, the COVID-19 situation and the 'New Normal'
          are used as ajustification by the WHO, national health
          authorities and governments aroundthe world to bypass such
          rigorous trials. </li>
      </ul>
    </li>
  </ol>
  <p>Clearly, maintaining the 'New Normal' is very dangerous formost
    people. Therefore, as a responsible academic, it is my duty to
    firmly oppose the 'New Normal'. I have nochoice but to oppose it;
    otherwise, my silent approval will hurtthe Japanese taxpayer who
    pays my salary and sponsors my free pursuit of scientific
    research. </p>
  <p>It will the hurt the people of India, who provided me with a
    quality education, and taught methe meaning of justice,
    objectivity, and fairness as exemplified in Mahatma Gandhi and
    <%= link_to "Judge Radhabinod Pal", "https://www.beaninspirer.com/radhabinod-pal-dissenting-judge-tokyo-trials-builder-modern-indian-law-system/" %>
  </p>
  <p>Please allow me to explain the two above mentioned issues in some
    detail.But, before that, I would like make some comments about
    "Scienceand Scientists", so as to put in context the
    often-repeated mantra "Believein the Science!"</p>
</section>
