<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="<%= current_page.data.title %>">
    <meta name="description" 
      content="<%= current_page.data.desc_tag%>">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Use the title from a page's frontmatter if it has one -->

    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <%= stylesheet_link_tag "views/tufte", :relative => true %>

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
<style>
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border: none;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
  </head>

  <body>
    <article>
    <! Contents from pages are injected into this space using the 'yield' command -->
     <%= partial "partials/views_navmenu" %>
     <%= partial "partials/views_navbar" %>
       <%= yield %>
     <%= partial "partials/views_navbar" %>
    </article>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "450px";
      }

      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
      }
    </script>
  </body>
</html>
