<%if current_page.data.nav_menu%>
<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <%= 
   link_to "Why I question the New Normal?", 
   '/en/views/why-i-question-the-new-normal.html'
  %>
  <%= 
   link_to "Science and Scientists",
   '/en/views/science-and-scientists.html'
  %>
  <%= 
   link_to "SMON, Big Pharma, and Scientists",
   '/en/views/smon-bigpharma-scientists.html'
  %>
  <%= 
   link_to "From SMON to Diovan<sup>&reg;</sup>",
   '/en/views/smon-to-diovan.html'
  %>
  <%= 
   link_to "Time for Pause",
   '/en/views/time-for-pause.html'
  %>
  <%= 
   link_to "Big Pharma and the Drug Regulators",
   '/en/views/bigpharma-and-regulators.html'
  %>
  <%= 
   link_to "Big Pharma and the WHO",
   '/en/views/bigpharma-and-who.html'
  %>
  <%= 
   link_to "WHO and the Swine Flu Pandemic",
   '/en/views/who-and-swine-flu.html'
  %>
  <%= 
   link_to "A Return to Common Sense",
   '/en/views/return-to-common-sense.html'
  %>
  <%= 
   link_to "Inconsistencies in the COVID story",
   '/en/views/inconsistencies-in-covid-story.html'
  %>
  <%= 
   link_to "Novel Viruses",
   '/en/views/novel-viruses.html'
  %>
  <%= 
   link_to "Death Profiles",
   '/en/views/death-profile.html'
  %>
  <%= 
   link_to "A Tale of Two Cities",
   '/en/views/tale-of-two-cities.html'
  %>
  <%= 
   link_to "In Conclusion",
   '/en/views/conclusions.html'
  %>
</div>
<button class="openbtn" onclick="openNav()">&#9776; Table of Contents</button>
<%end%>
