<%if current_page.data.nav_grid%>
<div id="grid" data-columns>

  <p class="navgrid">
  <%= 
   link_to "Death Profile", 
   '/mailer/death-profile.html' 
  %>
  </p>

  <p class="navgrid">
  <%= 
     link_to "Diamond Princess", 
     '/mailer/diamond-princess.html' 
  %>
  </p>

  <p class="navgrid">
  <%= 
     link_to "Novel Viruses", 
     '/mailer/novel-viruses.html' 
  %>
  </p>

  <p class="navgrid">
  <%= 
     link_to "Red Cross Blood Tests", 
     '/mailer/blood-tests.html' 
  %>
  </p>

  <p class="navgrid">
  <%= 
     link_to "Asymptomatic Infections", 
     '/mailer/asymptomatic-infections.html' 
  %>
  </p>

  <p class="navgrid">
  <%= 
     link_to "The Flu", 
     '/mailer/where-is-the-flu.html' 
  %>
  </p>
</div>

<%end%>
