---
title: Going the wrong path
layout: tufte
prev_page: Big Pharma and drug regulators
prev_url: /en/views/bigpharma-and-regulators.html
next_page: WHO and the Swine Flu Pandemic
next_url: /en/views/who-and-swine-flu.html
nav_menu: true
---

# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>
<section>
<h2> Big Pharma settles down in the WHO</h2>

<figure>
 <label for="mn-us-opioid" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-us-opioid" class="margin-toggle"/>
  <span class="marginnote">
  From Statista, <em>
  <%= 
    link_to "U.S. Once Again Sees More Overdose Deaths",
    'https://www.statista.com/chart/18744/the-number-of-drug-overdose-deaths-in-the-us/'
  %>
  According to the article linked above, <q>opioid overdoses make up around 
  <%= 
    link_to "70 percent of all overdose deaths in the U.S",
    'https://www.cdc.gov/nchs/data/databriefs/db356_tables-508.pdf#page=3'
  %>
  </q>
  </em>
  </span>
  <%= 
  image_tag('images/views/usa_opioid_deaths.jpeg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>


<p>
  <label for="mn-who-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-read" class="margin-toggle"/>
  <span class="marginnote">
    <b> Further reading </b><br>
    <%= 
    link_to "Who's funding WHO?,  <cite> BMJ </cite>, 2007, 334:338", 
'https://www.bmj.com/content/334/7589/338'
    %>
    <br>
    <br>
    <%= 
    link_to "Narcotic and psychotropic drugs  achieving balance in national opioids control policy  guidelines for assessment. World Health Organization",   
'https://apps.who.int/iris/handle/10665/66496' 
    %>
    <br>
    <br>
  </span>
</p>
<div class="epigraph">
  <blockquote>
    <p> In 2017, several members of Congress sent a letter to the
World Health Organization (WHO) warning that Purdue Pharma L.P. (Purdue)
was attempting to expand their drug sales to international markets
using the same fraudulent marketing tactics that instigated
the opioid crisis in the United States. We expressed our
concern that Purdue's expansion could trigger an opioid
crisis on a global scale. <b>When the WHO failed to respond to
the letter, we began to question why they would remain silent
about such a significant and devastating public health epidemic.
The answers we found are deeply disturbing. </b>
  </p> 
  <footer> 
  <%= 
  link_to "Corrupting influence: Purdue & the WHO, Exposing dangerous opioid
manufacturer influence at the World Health Organization",
"https://katherineclark.house.gov/_cache/files/a/a/aaa7536a-6db3-4192-b943-364e7c599d10/818172D42793504DD9DFE64B77A77C0E.5.22.19-who-purdue-report-final.pdf"
 %>
          <cite>From the offices of representatives Katherine
Clark & Hal Rogers </cite> May 2019 
  </footer>
</blockquote>
</div>
<h3> <b>Why did WHO remain silent?</b> </h3>

<p>
<b>The WHO remained silent</b> because,
since 2000, it had been busy
developing <q>Guidance Documents</q>
that
<blockquote>
<p>
encourage governments to achieve better pain management by identifying and
overcoming regulatory barriers to opioid availability.
<footer>
    <%= 
    link_to "Narcotic and psychotropic drugs  achieving balance in national opioids control policy  guidelines for assessment. World Health Organization",   
'https://apps.who.int/iris/handle/10665/66496' 
    %>
</footer>
</p>
</blockquote>
</p>
<p>
<cite>
In other words, WHO had been playing  
<%=
  link_to "a pivotal, aggressive, and long-term role to influence physicians beyond the U.S. to expand their opioid prescribing.",
'https://ahrp.org/who-controls-the-who/'
%>
</cite>
</p>
<p>
<b> The WHO remained silent</b> because it had, through 
<cite>patient support groups</cite>, been
receiving Big Pharma funding <em>since 1999</em>,
collecting the input of organizations allied to
Big Pharma for its guidelines, thereby ensuring
a pro-opioid industry bias to its reports. 
</p>


<figure>
  <label for="mn-who-purdue" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-purdue" class="margin-toggle"/>
  <span class="marginnote">
  From Clark and Rogers, <em>Corrupting influence: Purdue & the WHO: Exposing
dangerous opioid manufacturer influence at the World Health Organization</em>,
 Fig2 on page 14
   </span>
<%= image_tag('images/views/who-purdue.jpg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p>
As the
Congressional report puts it,
<blockquote>
<p>
<cite>
We know that one key to Purdue’s (and the entire opioid industry’s) success in
the United States was their strategy of funding organizations, people, and
research that promoted the company’s marketing goals. <b>We have discovered that
many of these same actors are directly affiliated with the work of the WHO.</b>”
</cite>
</p>
<footer>
  <%= 
  link_to "Corrupting influence: Purdue & the WHO, Exposing dangerous opioid
manufacturer influence at the World Health Organization",
"https://katherineclark.house.gov/_cache/files/a/a/aaa7536a-6db3-4192-b943-364e7c599d10/818172D42793504DD9DFE64B77A77C0E.5.22.19-who-purdue-report-final.pdf"
 %>
</footer>
</blockquote>
</p>
