---
title: Going the wrong path
layout: tufte
prev_page: Novel Viruses, Dangerous Mutations
prev_url: /en/views/novel-viruses.html
next_page: A tale of two cities
next_url: /en/views/tale-of-two-cities.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>
<h2> Deaths in the New and Old Normals </h2>

<p>
<span class="newthought">"Pandemic" the WHO cries</span>, and our governments
have no recourse but to start testing, to enforce surveillance, and 
force isolation of suspected populations. 
And, the show must go on till WHO decides to end the
<q>Pandemic</q>! 
</p>

<p>
Our governments have no other recourse than to follow WHO, because
their hands are tied by the International Health Regulations
of 2005, which followed
on decades of scaremongering with acronymed fears such
as  HIV/AIDS, Ebola, SARS, H5N1,
H1N1, MERS and Zika.
</p>


<p>
But, lest we forget, this is the same WHO which callously lied about
Chernobyl casualties in 2005; the same organization which recommended <cite>ipse dixit</cite> highly
addictive opioids to children in 2011; the same whose
'Swine Flu Pandemic' bought billions of dollars in
profit to Big Pharma, and insufferable anguish to thousands of
children, young adults and their families. 
</p>

<p>
<label for="mn-polio-india" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-polio-india" class="margin-toggle"/>
  <span class="marginnote">
<b> Further reading</b>
<br>
<br>
  <%=
link_to "Dhiman et al., 2018, Correlation between Non-Polio Acute Flaccid Paralysis Rates with Pulse Polio Frequency in India, <cite> Int. J. Environ. Res. Public Health</cite>, 15(8), 1855,  https://doi.org/10.3390/ijerph15081755",
'https://www.mdpi.com/1660-4601/15/8/1755'
%>
<br>
<br>
  <%=
link_to "WHO plays down risk to Indian children from tainted polio vaccine, <cite>Reuters</cite>, October 2, 2018",
'https://www.reuters.com/article/us-india-health-polio-idUSKCN1MB3H1'
%>
<br>
<br>
<%= 
  link_to "T. J. John, D. Dharmapalan, 2019, The moral dilemma of the polio eradication programme, <cite>Indian Journal of Medical Ethics</cite>,DOI:10.20529/IJME.2019.060", 
"https://ijme.in/articles/the-moral-dilemma-of-the-polio-eradication-programme/?galley=html"
%>
<br>
<br>
<%= 
  link_to "Oral polio vaccine causing paralysis in kids: Study, <cite>The New Indian Express</cite>, 23rd October 2019",
'https://www.newindianexpress.com/nation/2019/oct/23/oral-polio-vaccine-causing-paralysis-in-kids-study-2051670.html'
%>
  </span>
Lest, we forget, it is
the same WHO that through an <cite>unnecessary</cite> 
polio vaccination scheme created an epidemic of 
paralysis among Indian children.
<!--
https://www.bmj.com/content/365/bmj.l2343
https://www.nbcnews.com/news/us-news/un-agency-accused-helping-purdue-pharma-spread-opioid-epidemic-around-n1008956
https://www.theguardian.com/world/2009/oct/25/swine-flu-vaccines-profit
-->
</p>

<p>
Our governments have no recourse, but
we have a responsibility for our children and future
generations, and a gratitude to 
repay our parents and the senior citizens in our nations.
It is our solemn duty to examine the facts, to understand the situation
objectively, and to take appropriate action, rather than
propagate <cite>superstitions</cite> mindlessly.
</p>

<p>
To be skeptic is our solemn duty. We must question
the facts, and investigate whether
a new disease suddenly alighted on our communities in late 2019. 
</p>
<p>
A new deadly, highly contagious disease &mdash; we may expect &mdash; 
must stand out in some aspects: it may be that
it produces extraordinary illnesses, or that
it kills a lot of people whom the natural course of life
leaves unaffected. 
</p>

<p>
But COVID-19 is the cold, it is the flu,
it is the blood clots<label for="sn-blood-clots" class="margin-toggle sidenote-number">,</label><input type="checkbox" id="sn-blood-clots" class="margin-toggle"/><span class="sidenote"><%=
  link_to 'White, Richard H. "The epidemiology of venous thromboembolism." <cite>Circulation</cite> 107.23_suppl_1 (2003): I-4.',
'https://www.ahajournals.org/doi/full/10.1161/01.CIR.0000078468.11849.66'
%>
</span> it is the pneumonia<label for="sn-pneumonia" class="margin-toggle sidenote-number">,</label> <input type="checkbox" id="sn-pneumonia" class="margin-toggle"/> <span class="sidenote"><%=
link_to 'Malin, Adam. "Review series: old age: pneumonia in old age." <cite>Chronic respiratory disease</cite> 8.3 (2011): 207-210.',
'https://journals.sagepub.com/doi/pdf/10.1177/1479972311415129'
%>
</span> it
is the heart attacks, the cancers, the breathlessness, and
even the traffic accidents;
in short, it is everything that causes sickness 
and deaths in people all the time. And ironically, it
could be nothing at all; <cite>the WHO says that you
could be carrying the virus without even showing the
least of symptoms.</cite>
<!-- https://www.worldthrombosisday.org/news/post/know-thrombosis-recognizing-signs-symptoms-dangerous-blood-clots/ 
https://www.aier.org/article/the-censorship-of-dr-briand/
-->
</p>

<p>
It is not only the vagueness of the disease definition that
is of concern. So far, in Japan, as in most of the world,
there is no objective evidence of a killer disease
decimating large swaths of the population. To truly
understand what I am saying, we need to put the
reported deaths in Japan in the context of deaths prior
to 2020, i.e. during our <cite>Old Normal</cite>.
</p>

<h3>Deaths in the <cite>Old Normal</cite></h3>
<figure>
<label for="mn-jp-deaths" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-deaths" class="margin-toggle"/>
  <span class="marginnote">
<b>Fig. 1:</b> Monthly numbers of deaths in Japan since January 1978. In
recent decades, on the average, about 4000 people die on any given day.
</span>
  <%= 
  image_tag('images/views/jpn_ts_deaths.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p> 
In data of mortality that I present in Fig. 1, we can find
a strong increasing trend of deaths with time. If there
are X deaths in a given year, then the next year is most 
likely to have X+20,000 deaths. These extra 20,000 deaths
are seen every year since around 2002.
</p>

<p>
We can see other interesting phenomena, such as a 2&ndash;3
year cycle. Also since 2010, the number of winter deaths seems to
have suddenly increased.
</p>

<p>
<figure>
<label for="mn-jp-leading" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-leading" class="margin-toggle"/>
  <span class="marginnote">
<b>Fig. 2:</b> The leading causes of death in recent years
are from cancer, heart disease, pneumonia, and senility (dementia).
Since 2010, deaths from senility are rising rapidly and
most deaths take place in hospitals and <%= 
link_to "nursing homes.",
'https://www.nature.com/articles/s41598-019-56388-w'
%>
<br>
<br>
According to <%=
link_to "Mitchell et al., (2009)",
'https://www.nejm.org/doi/full/10.1056/nejmoa0902234'
%>
 people with advanced dementia
die of complications 
associated with pneumonia, episodic fever, and eating
problems.
</span>
  <%= 
  image_tag('images/views/japan_leading.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>
</p>
<p>
<label for="mn-dementia" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-dementia" class="margin-toggle"/>
  <span class="marginnote">
<b> Further reading</b>
<br>
<br>
  <%=
link_to "Steeman et al., 2014, <q>Reversal of English trend towards hospital death in dementia: a population-based study of place of death and associated individual and regional factors, 2001–2010</q>, <cite>BMC Neurology</cite>",
'https://bmcneurol.biomedcentral.com/articles/10.1186/1471-2377-14-59'
%>
<br>
<br>
  <%=
link_to "Mitchell, Susan L., et al. <q>A national study of the location of death for older persons with dementia.</q> <cite>Journal of the American Geriatrics Society</cite> 53.2 (2005): 299-305.",
'https://d1wqtxts1xzle7.cloudfront.net/40078347/A_National_Study_of_the_Location_of_Deat20151116-4903-1v43ufd.pdf?1447707729=&response-content-disposition=inline%3B+filename%3DA_National_Study_of_the_Location_of_Deat.pdf&Expires=1616398852&Signature=GDqI2zhsghm7J0nGOfpu73UGMNZAmlevwWInDI4qlchITnzPcHK1NhhsNyPnUOWCviV2JPDf6IzY2NaupUcZgCcw1Mm1Ck-nO3gSvPyqKHLtdmTykdkmlIvlo7XXxi8Bn~p3hDfNDjwY9tH27oMTPsFdE2bpJnhYJxK6iwvkZo92qoxLvBrTNs8MTi4~dd6nbqC3KuuWe5qYA4DNsHwUW4y~q~~Q5XO8rjk94C-Y8XiUvqzpgv06ha7cPpZi7KdkaxLSb-t3oOdQ~t2I0lCQ-jBwRU8mjXUI6d52jzLk3yoHNG4zE2OKtN5R2JA0pEjm2ErpMHfNjt66yXhefZcMSA__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA'
%>
<br>
<br>
<%= 
link_to "Houttekier, Dirk, et al. <q>Place of death of older persons with dementia. A study in five European countries.</q> <cite>Journal of the American Geriatrics Society</cite> 58.4 (2010): 751-756.",
'https://agsjournals.onlinelibrary.wiley.com/doi/full/10.1111/j.1532-5415.2010.02771.x'
%>
<br>
</span>
As in most of the developed world, a large part of the 
additional deaths that occur every year
in Japan are due to senility (dementia, black curve in <b>Fig. 2</b> above). Every year, 10,000
more people die of dementia compared to the previous year.
Most of them need the special care of nursing homes, due to
severe functional and cognitive disability, and
increasing behavioural disturbances such as aggression.
</p>
<h3>Deaths in the <cite>New Normal</cite></h3>
<p>
In 2020, if there was really a killer disease, we should see it
change the death statistics in an outstanding
way. For example, there is nothing unusual about
people dying of old age, but it is unusual if unexpected
deaths occur among the younger population. It is also
unusual, if a large number of older people suddenly pass
away.
</p>
<p>
In Japan, 8810 deaths have been reported as of 20 March 2021,
that were associated with a positive PCR test. This
may sound like a large number, but it is not! About
3000&ndash;5000 deaths occur in Japan any given day.
</p>

<figure>
<label for="mn-jp-2020" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-jp-2020" class="margin-toggle"/>
  <span class="marginnote">
  <b>Fig. 3:</b> Deaths in 2019 (black line, data for Jan&ndash;Dec), compared to a preliminary
 estimate of deaths in 2020 (blue line, data only for Jan&ndash;Sep).
 </span>
<%= image_tag('/images/views/jpn_deaths_19_20.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>

<p>
This unimpressive changes, are clearly seen through Fig. 3, which shows
that deaths are, if at all, lower in 2020 compared to 2019. However,
as seen in Fig. 1, we should expect deaths to rise by 20,000 every year,
or roughly a monthly increase of about 1500 deaths. Don't you
find it unusual that deaths are much lower than expected in
2020, compared to previous years.
</p>

<p>
Further, as in other countries, the vast majority of deaths occur
in people who are past the average life expectancy. In Japan, about
5000 of the 8810 deaths were of people aged 80 and above!
</p>

<p>
Perhaps, you may think that this is due to extraordinary care that
people in Japan took during 2020 to avoid catching and propagating
the killer virus! This is unlikely, because other countries that
took vastly different approaches also had similar outcomes.
</p>
</section>

