---
title: Going the wrong path
layout: tufte
prev_page: A Return to Common Sense
prev_url: /en/views/return-to-common-sense.html
next_page: Novel Viruses
next_url: /en/views/novel-viruses.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>
<h2> Problems with the narrative </h2>

<p>
<span class="newthought">Simple facts, plain arguments, and common sense 
</span> are what I ask
you to consider, hoping that you will listen without
prejudice and allow your reason be the judge.
</p>

<p>
We must even tackle controversial subjects with an open mind,
because the cost of not questioning is a silent approval
of the massive <em><%=
link_to 'human medical experiment',
'/views/docs/EMA_FDA_Petition.pdf'
%>
</em>
that we are allowing to happen.  
</p>

<h3> On Masks, and On Contagion</h3>

<p>
Let us start with the pressing issue of the time -- the masks.
</p>

<p>
The best argument for masks, in my experience, is that it has been
very helpful for me when I fall sick with the flu, or even the common
cold. When the cold, dry bursts of wind hurt my nostrils and throat,
and make me cough, the masks provide instant protection.
They make me feel better; more importantly, they let me recover faster.
</p>

<p>
I also forced my children to wear masks in the months following
the nuclear explosions that took place in early 2011. 
</p>

<p>
I was 
fervently hoping that I could stave off from their
lungs the dust particles that carried with them 
radioactive contamination from the power plants on the east
coast of Fukushima. I did that, although the media and government
experts, agencies, and ministers had all assured me that there was nothing 
to worry about the situation. 
</p>

<p>
<cite>Had I had read
the authoritative WHO report of 2005 on the Chernobyl nuclear power plant 
explosion, I might have felt much safer, and would have known that the explosion
<%= 
  link_to "resulted in fewer than 50 deaths.",
  'https://www.researchgate.net/publication/278732482_Who_Is_Afraid_of_Volume_1181_of_the_New_York_Academy_of_Sciences_Under_Threat_the_Nuclear_Establishment_Plays_Dirty'
%>
</cite>
</p>

<p>
The WHO's argument on using masks is that it protects you as well as others
from the pandemic causing viruses (I say viruses, because the fact that
there are multiple PCR tests for COVID-19, implies that there
are multiple viral variants). Anyway, the basic assumption is that
respiratory illnesses such as the cold and flu are contagious, that
is they are transmitted from one person to another by the act of
coughing or even breathing.
</p>

<h3> Efforts to Prove Contagiousness of 1918 Spanish Flu</h3>

<p>
  <blockquote>
  <p>
10 volunteers were exposed to patients with acute influenza
in hospital wards. Each volunteer was
placed very near the patient, shook hands with him, chatted with him for 5 minutes, and then received the patient's breath full in
his face five times while he inhaled. Finally
the patient coughed five times directly in the subject's
face. Each volunteer did this with each
of 10 different patients, all of them acutely ill for
not more than 3 days. All patients used had typical
acute cases selected from a distinct focus or outbreak
of disease. None of the volunteers developed the disease.
  <footer>
  <%=
  link_to 'Rosenau, Milton J. "Experiments to determine mode of spread of influenza." <cite>Journal of the American Medical Association</cite> <b>73.5</b> (1919): 311-313.',
  'https://quod.lib.umich.edu/f/flu/3750flu.0016.573'
  %>
  </footer>
  </p>
<!-- Improve the reference citations, when time permits -->
  </blockquote>
  <label for="mn-spain-flu" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-spain-flu" class="margin-toggle"/>
    <span class="marginnote">
     <b> Further reading </b><br>
    <%=
      link_to "Some Interesting Though Unsuccessful Attempts to Transmit Influenza Experimentally",
     'https://www.jstor.org/stable/4574984?seq=1#metadata_info_tab_contents'
    %>
    <br>
    <%=
      link_to "The State of Science, Microbiology, and Vaccines Circa 1918",
      'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2862332/'
    %>
    <%=
      link_to "Kissing and the Common Cold",
      'https://www.improbable.com/2010/02/09/kissing-and-the-common-cold/'
    %>
    <br>
   </span>
</p>
<p>
The experiments reported above, happened as the Spanish Flu was
ravaging the world. Reportedly, the Spanish Flu virus was
the most virulent and contagious viruses the world had known
in modern times; it is supposed to have 
infected one third of the world's population,
and caused 50 million deaths worldwide. <em> This experiment
still stands unrefuted</em>.
</p>
<p>
In my understanding, Science unlike Religion is not a set of immutable
beliefs, but a body of knowledge gained mostly through experimental
enquiry following the scientific method. It is hard for most of us
to accept the validity of this experiment, because it goes against
our intuition. So are the tenets of <em>
<%= link_to "Quantum Mechanics",'https://www.azquotes.com/author/4774-Richard_P_Feynman/tag/quantum-mechanics' %></em>,
but the experimental evidence behind our quantum mechanical understanding
of nature is compelling.
</p>


<p>
<cite>So, when the WHO effectively tells us that that healthy people 
are carrying and spreading viruses, should we accept it at face value?
</cite>
</p>

</section>

