---
title: Return to common sense
layout: tufte
prev_page: WHO and the Swine Flu
prev_url: /en/views/who-and-swine-flu.html
next_page: Inconsistencies in the COVID story
next_url: /en/views/inconsistencies-in-covid-story.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>



<section>

<h2> A Return to Common sense </h2>

<p>
We live in times where Big Pharma wields great power, and 
in this there is a great potential for serious damage.
</p>


<p>
Today, we have the ridiculous situation of WHO receiving
the bulk of its financial support  (68%) from private
donors; funding, which cannot be used for anything else
other than what the private donors consider their
top priority in public health issues. 
</p>

<p>
Two of its major funders, the Bill and Melinda Gates
Foundation (BMGF) and GAVI&mdash; the Vaccine Alliance
sponsored by BMGF&mdash; provided
USD 460 Million to WHO, while the richest member state
provided <%=
link_to "only USD 120 Million as <cite>assessed contributions</cite> in 2019.",
'https://www.who.int/about/finances-accountability/funding/2018-19_AC_Summary.pdf' %>.
(In plain words, <cite>assessed contributions</cite> are the
contributions that come with <cite>no string attached</cite>.)
</p>

<p>
Ironically, WHO's biggest donors&mdash; BMGF and GAVI&mdash; 
espouse <q>global health philantrocapitalism</q> 
while generating a bulk of their revenue
from investements in the <q>junk food industry</q> and Big Pharma.
  <label for="mn-who-fund" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-fund" class="margin-toggle"/>
  <span class="marginnote">
    <b> Further reading </b><br>
    <%= 
      link_to "Global Health Philanthropy and Institutional Relationships: How Should Conflicts of Interest Be Addressed? David Stuckler ,Sanjay Basu,Martin McKee Published: April 12, 2011",
'https://doi.org/10.1371/journal.pmed.1001020'
    %>
   </span>
</p>

<p>
These are dangerous times, because we are told everyday
that there is an extremely dangerous virus lurking
out there, mutating
over time into ever dangerous forms, and that
novel vaccines are the only way out! 
</p>

<p>
However, experience teaches us many things:
  <ol>
     <li> You can always find a prominent scientist
  to pander to fear mongering over pandemics.
  <%= image_tag('/images/views/birdflu2005march.jpg',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', 
:height=>'auto') %>
    </li>
  <li>
  Pandemics provide opportunities to administer ill-tested
  medical interventions on a large section of the population
  </li>
  <li>
   Atrocities such as the Eugenics program have happened
in the past, and these were backed or even led by
prominent scientists of their time.
  </li>
  </ol>
</p>

<h2> Do we need to risk our youth's health and future? </h2>

<p>
Japan is an aging society. It's youth are much more precious
because of this. 
</p>

<p>
At least for the sake of future generations to come, 
it is our duty to interrogate the situation. Scientific papers
and research won't help us, unless these are 
undertaken objectively and without bias. It is only
our common sense that can help us. Let us exercise it
before it is too late.
</p>

</section>
