---
title: Going the wrong path
layout: tufte
prev_page: Why I question the New Normal?
prev_url: /en/views/why-i-question-the-new-normal.html
next_page: SMON, Big Pharma, and Scientists
next_url: /en/views/smon-bigpharma-scientists.html
nav_menu: true
---

# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>



<section>
  <h2> Science and Scientists </h2>
<p>
<span class="newthought">We all agree that Science,</span> the body of knowledge that we gather 
using the scientific method, is one of the most valuable assets of humankind.
</p>

<p>
Yet, "Believe in the Science!" does not mean "Believe in the Scientist"!
Scientists are as good and bad as the rest of humankind. Scientists
make mistakes&mdash;sometimes these mistakes are very costly for
the rest of
society. 
</p>

<p>
Sometimes, they are manipulated by powerful people and
groups to do horrible things. One example that we should never forget
is <%= link_to "the involvement of many famous scientists in the Eugenics movement", 'http://historynewsnetwork.org/article/1796'%>
</p>

<p>
Here is another example, right from Japan, of scientists making
mistakes, that for a decade and a half continued to
have serious consequences for the common person.
</p>
</section>

<section>
<h3>  The SMON epidemic in Japan (1958&ndash;1973)  </h3>

<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/V1PI72aRdL4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
In 1958, a frightening epidemic disease struck Japan. It was
  <label for="mn-smon-f1" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-f1" class="margin-toggle"/>
    <span class="marginnote">
      <%=image_tag("images/views/smon_victim1.jpg") %>
<b> Michiko Kinoshita </b> was 45 when she developed diarrhoea
in <b> January 1966 </b>, and was prescribed <em> clioquinol </em>.
Five months later, both her feet began to feel numb &mdash; one of the
first symptoms of SMON. Soon her sight failed and her legs
were paralyzed. As a result, her husband gave up his job to 
look after her. Ciba-Geigy gave her an out-of-court settlement
of $184,800 in <b> 1979 </b>, and a monthly sum of $184 for nursing care.
<br>
    </span>
Subacute Myelo-Optico-Neuropathy (SMON) &mdash; it killed
5&ndash;10% of its victims; among those it did not kill, many
were paralyzed for life, many became blind; the rest lived with
chronic pain resulting from neurological damages. 
It spared children, but the elderly were most affected, especially
those with underlying chronic illnesses. The Tokyo Olympics
arrived and passed, but still no one knew how to prevent
the spread of the epidemic or to cure it.
</p>


<p>
Scientists assumed that the disease was infectious;  its sudden appearance,
  <label for="mn-smon-f1" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-f1" class="margin-toggle"/>
    <span class="marginnote">
      <%=image_tag("images/views/smon_victim2.jpg") %>
<b> Keiko Yamaguchi </b> was 21 years old, when she was prescribed 
<em> clioquinol </em> for diarrhoea in <b> February 1967 </b>. Her SMON symptoms
started soon, and continued, and she was given more and more
<em> clioquinol </em>.   By the end of 1968 she was completely blind
and paralyzed. In <b> 1980 </b>, Ciba-Geigy
paid $199,263 in compensation and $617 a month
for nursing care. 
<br>
        Source:
      <%= link_to "The Devil's Alternative, <em> New Internationalist </em>, <b> 95</b>, 1 January 1981", 
'https://newint.org/features/1981/01/01/devils/' %>
<br>
<br>
    </span>
the discovery of clusters around specific cities and towns, and
clusters within families.  
The disease peaked in
late summer, suggesting that the disease spread through
insects. 
Further, many outbreaks
were centered around hospitals, and 
medical workers had a rather high
rate of SMON.<label for="sn-duesberg" class="margin-toggle sidenote-number"></label>
  <input type="checkbox" id="sn-duesberg" class="margin-toggle"/>
    <span class="sidenote">
      Pages 11&ndash;27 from Prof. Peter Duesberg's <%= link_to "Inventing the AIDS Virus", 'https://www.researchgate.net/publication/261948355_Inventing_the_AIDS_Virus' %>
     <br>
     </span>
</p>

<p>
Japan launched vigourous research efforts to understand the
causative agent of the epidemic.
The contagion theory was strongly favoured among scientists.
Over the next fifteen years,
the scientists isolated
<b> 'novel' viruses </b> one after the other, only to find their
claims disproved by <em> independent researchers </em>.
While the virus hunt went on, cases rose steadily, and
so did the deaths.
</p>


<p>
Finally, in 1970, the real cause of the epidemic was found. It
was the prescription drug <em> clioquinol </em>, a drug
manufactured by Ciba-Geigy to treat diarrhea. The irony was
that <em> clioquinol </em> itself was used as a treatment for SMON! 
</p>

<p>
<label for="mn-smon-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-smon-read" class="margin-toggle"/>
    <span class="marginnote">
     <b> Further reading </b><br>
      <%= link_to 'A Japanese Tragedy,  <em> The Washington Post </em>, March 18, 1979', 
'https://www.washingtonpost.com/archive/politics/1979/03/18/a-japanese-tragedy/69e1c239-834a-4559-8659-b36c26443798/'
       %><br>
      <%= link_to "R. Kono, 1975, The S.M.O.N. Virus Theory, <em> Lancet </em>, <b> 306 </b>, pp 370-371", 
'https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(75)92818-4/fulltext'
       %><br>
      <%= link_to "The Devil's Alternative, <em> New Internationalist </em>, <b> 95</b>, 1 January 1981", 
'https://newint.org/features/1981/01/01/devils/'
       %><br>
     </span>
    </p>

<blockquote>
 <p> <em>
The illusion that SMON was an infectious disease was compelling: When patients
with abdominal upset or diarrhea were treated with clioquinol and developed
SMON, family members, doctors and nurses often took the drug thinking it would
protect them &mdash; inadvertently creating the very disease they feared. The resulting
cluster outbreaks made SMON look like an infectious disease. In short, what
people thought was a cure for SMON was in fact its cause. 
</em> </p> 
<footer>
<%= link_to "<b>When a Medical 'Cure' Makes Things Much, Much Worse</b>, by
Jeanne Lenzer, <em> Smithsonian Magazine </em>, January 2, 2018",
'https://www.smithsonianmag.com/science-nature/when-cure-is-cause-180967666/'
%>
</footer>
</blockquote>
</section>
