---
title: Going the wrong path
layout: tufte
prev_page: SMON, Big Pharma, and Scientists
prev_url: /en/views/smon-bigpharma-scientists.html
next_page: Time for Pause
next_url: /en/views/time-for-pause.html
nav_menu: true
---

# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>


<section>
<h2> Pharma and scientists in the COVID era </h2>

<p>
In recent decades, scientific investigations in the medical and
public health fields faces a new challenge from Big Pharma. <em>In the SMON era,
Big Pharma did not signficantly influence mainstream academic researchers. </em>
<b> To our misfortune, this is no longer true! </b>
</p>

<h3> Tamiflu, Big Pharma, and  <%= link_to 'a BMJ investigation',
'https://www.bmj.com/tamiflu' %> </h3>

<blockquote>
<p>
<em>
Just as the FCA (False Claims Act) was violated by delivering dying donkeys, faulty muskets, and
bullets filled with sawdust to the government during the Civil War, <b>Roche
violated the FCA by selling the government a drug for pandemic use that could
not achieve the pandemic purposes for which the government bargained and paid.
</b>
The FCA <q>is intended to protect the treasury against the hungry and
unscrupulous hosts that encompass it on every side.</q>  <b> The facts here show an
incredibly hungry and unscrupulous pharmaceutical company that deceitfully
caused the U.S.  and various state governments to spend over $1.4 billion to
acquire Tamiflu for pandemic use.</b>
</em>
</p>
<footer>
<%= link_to "United States et al ex rel Thomas Jefferson v Roche Holdings et al. Case
14-cv-03665-GLR. US District Court for the District of Maryland. Filed 3 Sep 2019, unsealed Jan 2020.", 
'https://www.halunenlaw.com/wp-content/uploads/2020/01/2019-09-03-Jefferson-AMENDED-COMPLAINT-Filed-Under-Seal.pdf'
%>
</footer>
</blockquote>

<p> These are the opening lines of a law suit filed on September 2019 by the Lanier Law Firm 
on behalf of <%= link_to 'Dr. Thomas Jefferson', 
'https://ebm.bmj.com/content/23/2/46' %> of the Cochrane Collaboration against
Hoffman-La Roche Inc, and Genentech Inc.
</p>

<p>
The allegations involve the claim that Roche
masterfully marketed an ineffective product for profit by 
preparing <q>scientific studies</q> that sought to show benefits
that Roche knew that the drug did not possess.
</p>

<p>
These so-called <q> scientific studies </q> were first 
<%= link_to 'questioned', "http://www.hayashi-shonika.jp/images/Jefferson_Hayashi's%20problem.pdf" %>
by a Japanese paediatrician, Dr. Keiji Hayashi. He
had written to the Cochrane Collaboration that its previous evaluation showing
that Tamiflu had high efficacy in reducing flu-related complications
was supported mostly by industry funded research data.
</p>

<p>
Subsequently, the Cochrane Collaboration sought
research data (that supported Tamiflu's benefits) from the
scientists who had published the most favourable and
influential reports, in <em> The Lancet</em>, the <em> Archives of
Internal Medicine</em>, 
in <em> Journal of the Americal Medical
Association (JAMA) </em>. The major challenges that 
arose before the Cochrane team in this endeavour are
reported in a <%= link_to 'BMJ investigation.', 
'https://www.bmj.com/bmj/section-pdf/186422?path=/bmj/339/7734/Feature.full.pdf'%>
The main findings from the investigation are shocking: 
  <ol>
    <li> Roche influenced these scientific publications in
      multiple ways </li>
     <ul>
       <li> by including Roche employees as co-authors and/or </li>
       <li> paying the main scientists involved in the publications
             in different ways and/or </li> 
       <li> hiring professional publishing services
        to draft manuscripts that <q> got messages out </q>
        in favour of Tamiflu, in spite of the lack
  of scientific support </li>
     </ul>
   <li> Further, the scientists who wrote the influential
articles supporting Roche's claims about Tamiflu 
 did not analyze the data from the clinical trials
themselves, but had allowed Roche to compile,
process, and analyze this data for their papers without
questions.</li>
  </ol>
</p>

<p> <em> It is worth noting that just three days after the publication of one
of the scientific articles, Tamiflu was added to the list
of approved drugs for the Strategic National Stockpile 
(of the USA).
</em>
</p>

</section>


<section>
<h2>  From SMON to Diovan<sup>&reg;</sup></h2>
<p>
<%= link_to "The recent Diovan scandal in Japan,", 'https://www.forbes.com/sites/larryhusten/2014/09/11/japanese-research-scandal-involving-novartis-blood-pressure-drug-widens/' %> is a stark reminder of the fact that the
scientific integrity of no nation is immune to
the pernicious influence of Big Pharma.
</p>
<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fqV15C0J-xU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<blockquote>
  <p><em>
The data manipulation in investigator-initiated trials on 
Novartis Pharma K.K.'s (NPKK) antihypertensive drug valsartan (Diovan<sup>&reg;</sup> ) has damaged the integrity
of the Japanese science community. An NPKK employee was involved in the papers
including the Jikei Heart Study published in The Lancet.  Moreover, research
teams have received more than 1.1 billion yen as unrestricted grants from the
company.  It was also revealed that Elsevier Japan K.K., the global publishing
group which publishes The Lancet, participated in the promotion strategy for
Diovan&reg; . NPKK carried out marketing and promotional activities by using these
favorable trials, so that Diovan&reg; became one of its flagship products. Annual
sales of Diovan&reg; exceed 100 billion yen in Japan. We have to develop a
critical eye on the dependency circle among researchers, the pharmaceutical
industry and the medical journals.
 </em> </p> 
<footer>
<%= link_to "<b>The Valsartan (Diovan&reg;) Scandal: The view from inside
journalism</b>, by
Toshiyasu Kawachi and Kosuke Hatta, The Mainichi Newspapers Science & Environment News Dept. <em> Rinsha Hyoka (Clinical Evaluation) </em>, 2014: 41:789-97",
'http://cont.o.oo7.jp/41_4/ab-p789.pdf'
%>
</footer>
</blockquote>

<!--
<p>
<em>
It is worth noting that Ciba-Geigy merged with Sandoz in 1996 to create
<%= link_to "Novartis.", 'https://www.novartis.com/our-company' %>
</em>
</p>
-->
