---
title: Going the wrong path
layout: tufte
prev_page: Deaths in the New and Old Normals
prev_url: /en/views/death-profile.html
next_page: In Conclusion
next_url: /en/views/conclusions.html
nav_menu: true
---
# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>
<h2> A Tale of two cities: Dar es Salaam and New York city</h2>

<h3>Deaths in the Developed World </h3>
<p>
<span class="newthought"> In a few countries of the
world</span>, a large number of older people
did suddenly and unexpectedly passed away. However, these 
deaths did not take place in the poorer parts
of the world, whose peoples are generally not known to take the
extraordinary level of personal care that the people of Japan
take.
</p>

<p>
Rather, they took place in western
Europe, and North America, in the first episode of
deaths prior to the summer of 2020! Further, most of the deaths were
of senior citizens who were recieving care in nursing homes. 
In the United Kingdom, for example, more
than 50% of the 50,000 excess deaths <%=
link_to "were of nursing home residents.",
'https://ltccovid.org/wp-content/uploads/2020/06/Mortality-associated-with-COVID-21-May-3.pdf'
%>
Similarly, in the USA a large number of <%=
link_to "nursing home residents died,",
'https://freopp.org/the-covid-19-nursing-home-crisis-by-the-numbers-3a47433c3f70'
%>
especially in <%= 
link_to "New York.",
'https://www.npr.org/sections/coronavirus-live-updates/2021/01/28/961637249/investigation-cuomo-team-undercounted-n-y-covid-19-nursing-home-deaths'%>
</p>

<h3> The New York City death spike</h3>


<figure>
  <%= image_tag('/images/views/ny_city_deaths.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
<figcaption>
  <b>Fig 1.</b> Weekly deaths from all causes in New York City during
2019-2020 compared to each MMWR week in the past 5 years. MMWR is the
Morbidity and Mortality Weekly Report. The data starts roughly around
early autumn in a given year (say 2019) and continues to the early
autumn of the next year (say 2020). The peak deaths in the graph
occurs on the week ending 11 April 2020.
<cite><b>Source</b>: 
<%=
  link_to "G. Briand (2021), COVID-19 Deaths A Look at U.S. Data",
'https://www.researchgate.net/project/COVID-19-Deaths-A-Look-at-US-Data'
%>
</cite>
</figcaption>
</figure>

<p style="margin: 2px;
    padding: 2px;
    border-width: 1px;
    border-color: white;
    border-style: solid;"
> The spikes of excess deaths in the USA, were confined to
five juridisctions&ndash; New York City had an excess mortality
of 469%, followed by New Jersey (221%), New York State (126%),
Connecticut (122%), and Massachusetts (110%). South Dakota,
which never imposed sanitary measures such as mandatory
masks or forced isolation of healthy populations (lockdowns)
did not experience excess deaths.
</p>

<br>
<br>
<p>
<cite>
I urge that people look at the spike of deaths during April 2020
shown in Fig. 1, and question why such an anomaly would happen
for natural reasons, including massive deaths from a viral
pandemic.
</cite>
</p>

<h3>Deaths in the Not-So-Developed World </h3>
<p>
Among the not-so-developed world, the situation of
Tanzania stands out for various reasons. The recent funeral
of a Tanzanian <%=
link_to "statesman",
'https://headtopics.com/za/letter-to-the-editor-in-defence-of-president-john-magufuli-tanzania-is-a-beacon-of-democracy-6113341'
%>
in Dar es Salaam, should make us question the validity of
the <cite>COVID-19</cite> narrative, and perhaps urge us
to reconsider the geopolitical consequences of 
securitizing health.<label for="sn-health-security" class="margin-toggle sidenote-number">&#8853;</label>
  <input type="checkbox" id="sn-health-security" class="margin-toggle"/>
  <span class="sidenote">
  <%= link_to "W. Aldis (2008), <q>Health security as a public health concept: a critical analysis</q>, Health Policy and Planning, Volume 23, Issue 6, November 2008, Pages 369–375, https://doi.org/10.1093/heapol/czn030",
 'https://academic.oup.com/heapol/article/23/6/369/572074'
%>
</span>
</p>


<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/AGvUTUGPWrM?start=462" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
One year prior to this funeral, Tanzania had
in apparent defiance of the International Health Regulations,
stopped testing and reporting cases of COVID-19.
The Imperial College, London, predicted that 100,000 Tanzanians
will die of COVID-19 by the end of 2020. <cite>As of March 2021,
social distancing measures are non-existent in Tanzania,
as the funeral video shows.</cite>
<figure>
  <%= image_tag('/images/views/prediction_tanzania.png',
:width=>'90%', 'max-width' => '800px', 'min-width'=>'500px', :height=>'auto') %>
</figure>
</p>

<p>
World governments
and WHO joined hands to chide Tanzania. But, as
seen in the Voice of America sponsored report, nothing of pandemic consequence
appears to have happened in that country since it stopped recommending
facemasks and social distancing.
</p>

<figure class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/nLOzsbypSs4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>


<p>
Nothing of consequence appears to have happened in Tanzania of pandemic
consequence till 17 March 2021. On that day, the President of Tanzania who defied
WHO and the International Health Regulations <%= 
link_to "died of a 'heart condition'",
'https://www.dw.com/en/tributes-to-magufuli-pour-in-from-across-africa/a-56916315'
%>
  <label for="mn-tz-rein" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-tz-rein" class="margin-toggle"/>
  <span class="marginnote">
  <%=
 link_to "It's time for Africa to rein in Tanzania's anti-vaxxer president,
Opinion section in The Guardian on Global Development, sponsored by
Bill&amp;Melinda Gates foundation, 8 Feb 2021",
'https://www.theguardian.com/global-development/2021/feb/08/its-time-for-africa-to-rein-in-tanzanias-anti-vaxxer-president?fbclid=IwAR2Y9bQqgMeDpYraFL1T7B7Qq55WvzEE-JAEMZSFtOQMmwXIedcpjfbzVPo'
%>
</span>
</p>
<p style="text-align:center">
<span class="newthought">He was finally reined in! </span>
</p>
<p>
Our governments may have no recourse, 
but we still have a responsibility for our children and future generations, and a gratitude to repay our parents and the senior citizens in our nations. It is our solemn duty to examine the facts, to understand the situation objectively, and to take appropriate action, rather than propagate superstitions mindlessly.
</p>
</section>
