---
title: Going the wrong path
layout: tufte
prev_page: From SMON to Diovan<sup>&reg;</sup>"
prev_url: /en/views/smon-to-diovan.html
next_page: Big Pharma and the Drug Regulators
next_url: /en/views/bigpharma-and-regulators.html
nav_menu: true
---

# Going down the wrong path

<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>

<h2> Time for Pause </h2>


<section>
<h3> Thoughts from two scientists </h3>

<b> 1. John P. A. Ioannidis, Professor of Medicine, Stanford University </b>


<blockquote>
<b> Why Most Published Research Findings Are False </b>
<em> 
<p> 
Published research findings are sometimes refuted by subsequent evidence,
with ensuing confusion and disappointment. Refutation and controversy is seen
across the range of research designs, from clinical trials and traditional
epidemiological studies [1–3] to the most modern molecular research [4,5].
There is increasing concern that in modern research, false findings may be the
majority or even the vast majority of published research claims [6–8]. However,
this should not be surprising. It can be proven that most claimed research
findings are false. Here I will examine the key factors that influence this
problem and some corollaries thereof.
</p>
</em>
<footer>
<%= link_to "<b>Why Most Published Research Findings Are False </b>
<em>PLoS Med 2(8)</em>: <b>e124</b> doi:10.1371/journal.pmed.0020124",
'https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.0020124'
%>
</footer>
</blockquote>

<b> 2.  Prof. Honjo Tasuku's interview
with NHK after the announcement of his receiving the Nobel
prize for Medicine/Physiology.
</b>

<p>
The interview originally appeared in <%= link_to "an 
NHK report", 'https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html'
%>, but is no longer available.
<%=link_to "However, an archived
version can be found here", 
'https://web.archive.org/web/20181004081350/https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html' %>
</p>


<blockquote>
<p>
<em>
<b> Ｑ：自分が心がけていること、モットーは？ </b>
<br>

「私自身は、研究に関して、何か知りたいという好奇心がある。もう１つは、簡単に信じない。それから、よくマスコミの人は、ネイチャー、サイエンスに出ているからどうだ、という話をするが、僕はいつもネイチャー、サイエンスに出ているものの９割はうそで、10年たったら、残って１割だと思っています。まず、論文とか、書いてあることを信じない。自分の目で、確信ができるまでやる。それが僕のサイエンスに対する基本的なやり方。つまり、自分の頭で考えて、納得できるまでやると言うことです」

</em> </p> 
<p>
<em>
I have taken the liberty to paraphrase Prof. Honjo's answer in
English. Any possible errors in interpreting Prof. Honjo's statements
are mine.
</em>
</p>
<p>
<em>
<b> Q: What do you keep in mind, what is your motto? </b>
<br>

A: "Scientific research, to me, involves a curiousity to know about something. Further,
I am not a person who believes in anything easily. People in the mass 
media often revere
scientific work appearing in Nature and Science journals, but 
I am of the opinion that 90% of research
published in Nature and Science are incorrect; perhaps, only 10% of
the work published in these journals stand the test of time. Thus,
I do not easily accept what is written in the papers or what they 
conclude. I persevere in investigations of a scientific
fact until I am convinced of its veracity.
That is how I approach science. In other words, I
think with my own head and work until the facts convince me.
</em>
</p>
<footer>
<%= link_to "<b>ノーベル賞 本庶佑さん 記者会見の要旨</b> 
<em>NHK News Web</em>, October 2, 2018",
'https://web.archive.org/web/20181004081350/https://www3.nhk.or.jp/news/html/20181002/k10011654191000.html' %>
</footer>
</blockquote>
</section>
