---
title: Going the wrong path
layout: tufte
prev_page: Big Pharma and WHO
prev_url: /en/views/bigpharma-and-who.html
next_page: A Return to Common Sense
next_url: /en/views/return-to-common-sense.html
nav_menu: true
---

# Going down the wrong path
<p class='subtitle'>
Why I openly question the "New Normal" or "New life style"
</p>

<section>
<h2> WHO and the Swine Flu </h2>

<p>
<span class="newthought">In pushing narcotic and psychotropic drugs to governments around
the world</span>, WHO's message focused on the sensitive issue
of pain associated with cancer &mdash; a message that
people and governments could not afford to ignore.
</p>

<p>
  <label for="mn-who-read" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-who-read" class="margin-toggle"/>
  <span class="marginnote">
    <b> Further reading </b><br>
    <%= 
      link_to "A Whole Industry is Waiting For A Pandemic,  <cite> SPIEGEL International </cite>, 21 July 2009", 
      'https://www.spiegel.de/international/world/interview-with-epidemiologist-tom-jefferson-a-whole-industry-is-waiting-for-a-pandemic-a-637119.html'
    %>
    <br>
    <br>
    <%= 
      link_to "HSE ‘misled’ public on swine flu vaccine, claims teen with narcolepsy",
"https://www.thetimes.co.uk/article/hse-misled-public-on-swine-flu-vaccine-claims-teen-with-narcolepsy-xtbblvmdb"
    %>
    <br>
    <br>
    <%= 
      link_to "UK GOVERNMENT TO COMPENSATE BRAIN-DAMAGED VICTIMS OF SWINE FLU VACCINE",
'https://www.mctlaw.com/vaccine-injury/uk-government-to-compensate-brain-damaged-victims-of-swine-flu-vaccine/'
    %>
    <br>
    <br>
    <%= 
      link_to "Appendix 4.6 Pandemrix and Narcolepsy - Mapping of international
studies, in The Swedish Research Council's mapping of research
related to the etiology and treatment of the disease Narcolepsy, pages 38--41",
'https://www.vr.se/download/18.2412c5311624176023d255ce/1529480556721/The-Swedish-Research-Councils-Mapping-of-Research.%20Etiology-Treatment-Narcolepsy_VR_2012.pdf'
    %>
    <br>
    <br>
  </span>
</p>
<p>
In 1999, WHO had started work on yet
another 'Guidance Document'&mdash;<cite> Influenza Pandemic Plan:
The Role of WHO and Guidelines for National and Regional Planning</cite>.
In this document, WHO's guidance authors invoked the
fear of a devastating toll of deaths and illnesses from pandemics
to urge governments to take major action:
<blockquote>
<p>
<cite>
<q>
 It is impossible to anticipate when a pandemic might occur. Should
a true influenza pandemic virus appear that behaved as in 1918,
even taking into account the advances in medicine since then,
unparalled tolls of illness and death would be expected. 
</q>
</cite>
</p>
<footer>
<%=
  link_to "D. Cohen and P. Carter, 'WHO and the pandemic flu <q> conspiracies</q>', <cite> BMJ</cite> 3 June 2010, doi:10.1136/bmj.c2912",
  'https://childrenshealthdefense.org/wp-content/uploads/Godlee-2010-Conflicts-of-interest-and-pandemic-flu.pdf'
%>  
</footer>
</blockquote>
</p>

<p>
<cite>
Yet, the actions that it recommended mostly favoured the
pharmaceutical industry &mdash; 
stockpile antivirals, support the development
of pandemic vaccines. 
</cite>
</p>

<p>
A decade later, 
<%=
  link_to "WHO declared the Swine Flu Pandemic on 10 June 2009",
  'https://www.spiegel.de/international/world/reconstruction-of-a-mass-hysteria-the-swine-flu-panic-of-2009-a-682613.html'
%>
and the machinery envisaged in the WHO guidelines started
grinding.
<blockquote>
<p>
<cite>
Now turned up, the machinery was set into motion. Researchers got to work examining the molecular structure of the virus. The pharmaceutical industry started to develop vaccines. Government agencies laid out disaster plans. There was only one thing that everyone was ignoring: The new pathogen was, in fact, relatively harmless.
</cite>
</p>
<footer>
<%=
  link_to "Reconstruction of a Mass Hysteria: The Swine Flu Panic of 2009,
    <cite> SPIEGEL International</cite>, 12 March 2010",
  'https://www.spiegel.de/international/world/reconstruction-of-a-mass-hysteria-the-swine-flu-panic-of-2009-a-682613.html'
%>
</footer>
</blockquote>
</p>


<p>
<!-- add links -->
The subsequent investigations into WHO's handling of
the Swine Flu by journalists, <%=
link_to "politicians,", 
'https://assembly.coe.int/nw/xml/XRef/Xref-XML2HTML-en.asp?fileid=17889&lang=en#:~:text=Handling%20of%20the%20H1N1%20pandemic%3A%20more%20transparency%20needed,-Author(s)%3A&text=The%20Parliamentary%20Assembly%20is%20alarmed,Union%20and%20at%20national%20level.'
%>
and scientific journals,
and the irreversible brain damages that
the Swine Flu vaccine inflicted on thousands of
children across Europe are well described in
the documentary below.
</p>
<figure class='iframe-wrapper'>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kB0MEjHgkfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p>
For me, the opening lines of an investigative report by <cite>BMJ</cite> and 
<cite>The Bureau of Investigative Journalism</cite> highlights
the insiduous relation between Big Pharma and WHO best:
<blockquote>
<p>
<cite>
"Key scientists advising the WHO on planning for
an influenza pandemic had done paid work for 
pharmaceutical firms that stood to gain from
the guidance they were preparing. These conflict
of interests have never been publicly disclosed
by WHO, and WHO has dismissed inquiries into its
handling of the A/H1N1 pandemic as <q> conspiracy
theories</q>
</cite>
</p>
<footer>
<%=
  link_to "D. Cohen and P. Carter, 'WHO and the pandemic flu <q> conspiracies</q>', <cite> BMJ</cite> 3 June 2010, doi:10.1136/bmj.c2912",
  'https://childrenshealthdefense.org/wp-content/uploads/Godlee-2010-Conflicts-of-interest-and-pandemic-flu.pdf'
%>  
</footer>
</blockquote>
</p>
</section>
